Source: nagios-trapd
Section: misc
Priority: extra
Maintainer: Andy Kipp <akipp@cloudant.com>
Homepage: https://github.com/cloudant/nagios-trapd
Vcs-Git: git://github.com/cloudant/nagios-trapd.git
Vcs-Browser: https://github.com/cloudant/nagios-trapd
Build-Depends: debhelper (>= 7), python (>= 2.6), python-support, python-mock
Standards-Version: 3.9.1

Package: nagios-trapd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.6)
Provides: nagios-snmp
Replaces: nagios-snmp
Description: SNMP Trap Receiver for nagios
